@font-face {
    font-family: 'EssentialPragmataPro';
    src: url('assets/webfonts/361E91_0_0.eot');
    src: url('assets/webfonts/361E91_0_0.eot?#iefix') format('embedded-opentype'), url('assets/webfonts/361E91_0_0.woff2') format('woff2'), url('assets/webfonts/361E91_0_0.woff') format('woff'), url('assets/webfonts/361E91_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Salsbury';
    src: url('assets/webfonts/3650A8_0_0.eot');
    src: url('assets/webfonts/3650A8_0_0.eot?#iefix') format('embedded-opentype'), url('assets/webfonts/3650A8_0_0.woff2') format('woff2'), url('assets/webfonts/3650A8_0_0.woff') format('woff'), url('assets/webfonts/3650A8_0_0.ttf') format('truetype');
}

html,
body {
    display: block;
    width: 800px;
    margin: auto;
}

html {
    background: #B5BAB6;
}

body {
    background: white;
    font-family: 'Salsbury', 'Helvetica Neue', 'Segoe UI', sans;
    line-height: 1em;
    padding: 2%;
}

h1,
h2,
h3 {
    line-height: 1.0em;
    margin: 0px;
}

@keyframes neon_magenta {
    from {
        -webkit-text-stroke-color: #bf00bf;
    }
    to {
        -webkit-text-stroke-color: #ff00ff;
    }
}

@keyframes neon_cyan {
    from {
        -webkit-text-stroke-color: #00bfbf;
    }
    to {
        -webkit-text-stroke-color: #00ffff;
    }
}

h1 {
    font-family: 'Salsbury', 'Helvetica Neue', 'Segoe UI', sans;
    color: #bf00bf;
    /* Storm Gray */
    /* font-style: italic; */
    font-size: 2.5em;
    text-shadow: #3f003f 2px 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff00ff;
    animation-name: neon_magenta;
    animation-duration: 2.62s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

h2 {
    font-family: 'Salsbury', 'Helvetica Neue', 'Segoe UI', sans;
    /* font-style: italic; */
    font-size: 2em;
    color: #00bfbf;
    text-shadow: #003f3f 2px 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ffff;
    animation-name: neon_cyan;
    animation-duration: 3.14159s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

h3 {
    font-family: 'EssentialPragmataPro', consolas, fixed;
    font-weight: normal;
    font-size: 1.0em;
}

p {
    font-family: 'EssentialPragmataPro', consolas, fixed;
    margin: none;
    padding: none;
}

canvas {
    border-radius: 4px;
}

.mycontrols {
    font-family: 'EssentialPragmataPro', consolas, fixed;
    background: #bfbfbf;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 4px;
}

.mycontrols:hover {
    background: #00ffff;
    box-shadow: #00bfbf;
}